.body {
        
 background-image: url(../images/pic3.png);
 background-attachment: fixed;
 background-position: bottom;
 height: 74.074074%;
 background-repeat: no-repeat; 
 background-size: cover; 
}



.menu li {
    display: inline;   
  
    
}


.menu li a {
  
    
    color: white;
    
    border-radius: 0px;
    font-family:Trebuchet MS;
    font-weight: 300; 
    text-decoration: none;
    font-size: 0.7rem; 
    margin-left: 12rem;
   
   
     
}

.menu li a:hover {
    color: rgb(100,250,100);
    
    
}

.menuline {
    width: 74.074074074% ;
    float: none;

}

.giftitle {
    font-family: Trebuchet MS;
    color: #ffffff; 
}

.gifparagraph {
    width: 74.074074rem;
    margin-left: 7.4074rem;
    margin-right: 7.4074rem; 
    font-family: Trebuchet MS;
    font-size: large; 
    color: white; 

}
