.body {
        
 background-image: url(../images/pic3.png);
 background-attachment: fixed;
 background-position: bottom;
 height: 74.074074%;
 background-repeat: no-repeat; 
 background-size: cover; 
}

.giftitle {
    font-family: Gill Sans;
    color: #ffffff; 
}

.gifparagraph {
    width: 1000px;
    margin-left: 100px;
    margin-right: 100px; 
    font-family: Gill Sans;
    font-size: large; 
    color: #ffffff; 

}
