.body {
    background-image: url(images/HD-engineering-wallpaper-1%202.jpg);
}

.giftitle {
    font-family: Gill Sans;
    color: #000000; 
}

.gifparagraph {
    width: 1000px;
    margin-left: 100px;
    margin-right: 100px; 
    font-family: Gill Sans;
    font-size: large; 
    color: #ffffff; 

}
