.body {
    
 background-image: url(../images/pic3.png);
 background-attachment: fixed;
 background-position: bottom;
 height: 100px; 
 background-repeat: no-repeat; 
 background-size: cover; 
 
 	-webkit-transition: top 300ms ease-out;
	   -moz-transition: top 300ms ease-out;
	     -o-transition: top 300ms ease-out;
	        transition: top 300ms ease-out;

 
 
}

.menu li {
    display: inline;   
  
    
}


.menu li a{
  
    
    color: white;
    
    border-radius: 0px;
    font-family: Trebuchet MS;
    font-weight: 300; 
    text-decoration: none;
    font-size: 0.7rem; 
    margin-left: 12rem;
   
   
     
}

.menu li a:hover {
    color: rgb(100,250,100);
    
    
}

.menuline {
    width: 74.074074074rem ;
    float: none;
    
}

    
        
.mainheading {
    padding: 25px;
    float: none; 
    height: 3.75rem;
   width: 55.55555555rem;
   border-color: white;
   border-width: thick; 
    font-family: Trebuchet MS;
    border-style: solid;
    border-color: white;
    font-size: 4em;  
    color: #ffffff;
    position: static; 
    margin-bottom: 20rem;
    margin-top: 15.5rem;
    margin-left: 25%;
    text-align: center;
   

}



.actualrobotics {
    color: #ffffff; 
    padding:15px; 
    font-family: Trebuchet MS;
    font-size: 1em;
    font-weight: 100; 
    width: 63.185185rem;
    height: 320px;
    margin-top: 5.925925925rem;
    margin-left: 12rem;
    margin-bottom: 5.925925rem; 
    border-style: solid;
    border-color:white;
    border-width: thick; 

     
}

.aboutus {
    font-size: 18px;
    font-family: Trebuchet MS;
    line-height: 30px; 
    
}


.timelinebutton{
    height: 4vw;
    width: 16vw; 
    color: white; 
    font-family: Trebuchet MS;
    font-size: 3.5vw;
    text-align: center;
    text-decoration: none;
    text-decoration: none; 
    padding: 2vw; 
    border-style: solid; 
    border-color: white;
    border-width: thick;
    border-radius: 0px;
    margin-left: 41vw;
    margin-right: 45vw;
    margin-bottom: 5vw; 
    text-decoration: none;

    
}
