.body {
    background-image: url(../images/pic2.jpg);
}


.menu li {
    display: inline;   
  
    
}


.menu li a{
  
    
    color: white;
    
    border-radius: 0px;
    font-family: Trebuchet MS;
    font-weight: 300; 
    text-decoration: none;
    font-size: 0.7rem; 
    margin-left: 12rem;
   
   
     
}

.menu li a:hover {
    color: rgb(100,250,100);
    
    
}

.menuline {
    width: 74.074074074% ;
    float: none;
}

.smtitle {
     font-family: Trebuchet MS;
     font-size: 28px;
     color: #ffffff;
     margin-bottom: 20px;
     
}

.smlist {
     font-family: Trebuchet MS;
     font-size: larger;
     color: #ffffff;
     list-style: none;
     line-height: 8em;
     
     
}
