.body {
    background-image: url(../images/HD-engineering-wallpaper-1%202.jpg);
}

.smtitle {
     font-family: Gill Sans;
     font-size: larger;
     color: #ffffff;
     
}

.smlist {
     font-family: Gill Sans;
     font-size: medium;
     color: #ffffff;
     list-style: none;
     
     
}
