.body {
    background-image: url(../images/pic2.jpg);
}

.smtitle {
     font-family: Gill Sans;
     font-size: 28px;
     color: #ffffff;
     margin-bottom: 20px;
     
}

.smlist {
     font-family: Gill Sans;
     font-size: large;
     color: #ffffff;
     list-style: none;
     line-height: 8em;
     
     
}
