.teamfinderbody{
      background-image: url(../images/pic2.jpg);
 background-attachment: fixed;
 background-position: bottom;
 height: 74.074074%;
 background-repeat: no-repeat; 
 background-size: cover; 
}

.wip {
    font-size: 48px;
    margin-top: 15%;
    color: #ffffff;
    font-family: Gill Sans;
    
}

.teamfinderparagraph{
    color: #ffffff;
    font-family: Gill Sans;
    margin-top: 8%;
    font-size: 20px; 
}
